.chat .user {
	display: flex;
}

.chat .user.multiline {
	display: initial;
}

.chat .user .author {
	font-weight: bold;
	margin-right: 1vmax;
	display: flex;
}

.chat .user .author div {
	align-self: flex-end;
}

.chat .user .message.hint, .chat .system {
	opacity: 0.5;
}

.chat .user .message.multiline {
	padding-left: 1vmax;
	border-left-style: solid;
	border-left-color: #777;
	border-left-width: 0.25vmax;
}

.chat .user .message img {
	width: 2rem;
	margin: 0 0.25rem;
}

.chat .user .message {
	display: flex;
	align-items: flex-end;
}

.chat > div {
	margin: .25rem 0;
}

.chat {
	position: fixed;
	bottom: 0;
	margin: .25vmax;
}